<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}">
</head>
<style>
span {
	display: block;
}

.jumbo {
	padding: 15px;
	/* 	border-style: solid; */
	/* 	margin-bottom: 0px; */
	/* 	margin-left: 0px; */
	/* 	margin-right: 0px; */
	/* 	margin-top: 0px; */
	/* 	background-color: transparent !important; */
}
</style>
<body>

	<nav class="navbar navbar-expand-sm bg-primary navbar-light  py-0"
		th:fragment="header">
		<!-- 	<nav class="navbar bg-custom navbar-expand-sm bg-primary navbar-dark py-1" -->
		<!-- 		th:fragment="header"> -->
		<a th:href="@{/}" class="brand-link"> </a> <a class="navbar-brand"
			th:href="@{/}">Spring JQuery</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#nav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="nav">

			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}"><i
						class="fas fa-home fa-2x mr-5" style="color: white"></i></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/}">index1</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index2}">index2</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index3}">index3</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index4}">index4</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index5}">index5</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index6}">index6</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index7}">index7</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index8}">index8</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index9}">index9</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index10}">index10</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index11}">index11</a></li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5">

		<input type="button" value="Add Row" onclick="addRow('dataTable')" />

		<input type="button" value="Delete Row"
			onclick="deleteRow('dataTable')" />

		<table id="dataTable" width="350px">
			<tr>
				<td><input type="checkbox" name="chk" /></td>
				<td><input type="text" name="txt" /></td>
				<td><SELECT name="country">
						<option value="in">India</option>
						<option value="is">Israel</option>
						<option value="us">United States</option>
						<option value="ch">Switzerland</option>
						<option value="au">Australia</option>
				</SELECT></td>
			</tr>
		</table>

	</div>


</body>


<script type="text/javascript"
	th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
	
</script>
<script>
	function addRow(tableID) {

		var table = document.getElementById(tableID);

		var rowCount = table.rows.length;
		var row = table.insertRow(rowCount);

		var colCount = table.rows[0].cells.length;

		for (var i = 0; i < colCount; i++) {

			var newcell = row.insertCell(i);

			newcell.innerHTML = table.rows[0].cells[i].innerHTML;
			//alert(newcell.childNodes);
			switch (newcell.childNodes[0].type) {
			case "text":
				newcell.childNodes[0].value = "";
				break;
			case "checkbox":
				newcell.childNodes[0].checked = false;
				break;
			case "select-one":
				newcell.childNodes[0].selectedIndex = 0;
				break;
			}
		}
	}

	function deleteRow(tableID) {
		try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for (var i = 0; i < rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if (null != chkbox && true == chkbox.checked) {
					if (rowCount <= 1) {
						alert("Cannot delete all the rows.");
						break;
					}
					table.deleteRow(i);
					rowCount--;
					i--;
				}

			}
		} catch (e) {
			alert(e);
		}
	}
</script>

</html>