<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}">
</head>
<style>
span {
	display: block;
}
</style>
<body>

	<nav class="navbar navbar-expand-sm bg-primary navbar-light  py-0"
		th:fragment="header">
		<!-- 	<nav class="navbar bg-custom navbar-expand-sm bg-primary navbar-dark py-1" -->
		<!-- 		th:fragment="header"> -->
		<a th:href="@{/}" class="brand-link"> </a> <a class="navbar-brand"
			th:href="@{/}">Spring JQuery</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#nav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="nav">

			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}"><i
						class="fas fa-home fa-2x mr-5" style="color: white"></i></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/}">index1</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index2}">index2</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index3}">index3</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index4}">index4</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index5}">index5</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index6}">index6</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index7}">index7</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index8}">index8</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/index9}">index9</a></li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5">

		<input type="text" id="input" />
		<button id="insert">Insert</button>

		<div id="calling-pad"></div>

		<button id="remove">Remove last element</button>


	</div>


</body>


<script type="text/javascript"
	th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
	
</script>
<script>
	$(document).ready(
			function() {
				var totalInputs = 0;
				$("#remove").hide();
				$("#insert").on(
						"click",
						function() {
							$("#remove").show();
							totalInputs++;
							var inputText = $("#input").val();
							var id = "calling_" + totalInputs;
							$("#calling-pad").append(
									"<span id='" + id + "'>" + inputText
											+ "</span>");
						});

				$("#remove").on("click", function() {
					$("#calling_" + totalInputs).remove();
					totalInputs--;
					
					if(totalInputs === 0) {
						$("#remove").hide();	
					}
					
				});
			});
</script>
</html>